.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden; /* prevent horizontal scroll */
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-right 0.3s ease;
  margin-right: 0;
}

.content.sidebar-open {
  margin-right: 250px; /* width of right sidebar */
}